.container{
    height: 650px;
    width: 950px;
    background-color: silver;
    margin: auto;
}
.top-nav {
    height: 140px;
    width: 920px;
    background-color: green;
    margin: 16px;
}
.side-nav {
    height: 310px;
    width: 200px;
    background-color: blue;
    flex: start;
    margin: 15px;
}
.main {
    height: 350px;
    width: 700px;
    background-color: red;
    justify-content: flex-center;
    flex: center;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    margin: 20px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 20px auto;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}
.row {
    height: 600px;
}

